
<div style="display:flex;justify-content:center;flex-wrap:wrap">
 
  <div style="margin-right:30px;margin-top:20px">
    <img src="assets/01.jpg" style="width:200px;height:200px;object-fit:cover;border-radius:4px">
    <div style="display:flex;justify-content:space-around">
      <div>
       4 <i class="fas fa-star" style="color:gold"></i>
      </div>
      <div>
        125 <i class="fas fa-credit-card" style="color:slateblue"></i>     </div>
      <div>
        82 <i class="far fa-comment-alt" style="color:salmon"></i>
     </div>
     <div>
        <div class="btn-group">         
            <a style="cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-h"></i> 
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item">Tres tiendas</a>
              <a class="dropdown-item">Tres productos</a>
              <a class="dropdown-item">Explore - Service</a>
              <a class="dropdown-item">Explore - Event</a>
            </div>
          </div>
     </div>
    </div>  
  </div>
  
  <div style="margin-right:30px;margin-top:20px">
      <img src="assets/01.jpg" style="width:200px;height:200px;object-fit:cover;border-radius:4px">
      <div>
        82 Likes
      </div>
    </div>

    <div style="margin-right:30px;margin-top:20px">
        <img src="assets/01.jpg" style="width:200px;height:200px;object-fit:cover;border-radius:4px">
        <div>
          82 Likes
        </div>
      </div>
      
      <div style="margin-right:30px;margin-top:20px">
        <img src="assets/01.jpg" style="width:200px;height:200px;object-fit:cover;border-radius:4px">
        <div>
          82 Likes
        </div>
      </div>
    
</div>

<div style="padding:20px;width:100%;display:flex;justify-content:center;align-items:center">
  <button class="btn btn-dark" type="button">
    Cargar más
  </button>
</div>


